<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        {#<!-- Compiled and minified CSS -->#}
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('css/materialize-1.0.0.min.css') }}">
        <link href="{{ asset('css/material-icon.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/mapbox-gl-0.45.0.css') }}" rel="stylesheet" />
        <link href="aos.css" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <title>{% block title %}École de conduite S.Fouchard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav>
                <div class="nav-wrapper">
                    {% set url_page = app.request.uri %}
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger sidenav-button"><i class="material-icons">menu</i></a>
                    <a href="{{ path('index') }}" class="brand-logo title_nav">ÉCOLE DE CONDUITE S.FOUCHARD</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="item_nav" href="{{ path('index') }}"><span class="{{ 'accueil' in url_page ? 'active' }}">ACCUEIL</span></a></li>
                        <li>
                            <div class="dropdownmenu">
                                <span class="item_nav">FORMATIONS <span class="fleche_bas">&#8964;</span></span>
                                <div class="dropdownmenu-content">
                                    <a href="{{ path('formation_voiture') }}">
                                        <span class="{{ 'voiture' in url_page ? 'active' }}">Voiture</span>
                                    </a>
                                    <a href="{{ path('formation_deux_roues') }}">
                                        <span class=" {{ 'deux-roues' in url_page ? 'active' }}">Deux roues</span>
                                    </a>
                                    <a href="{{ path('formation_poid_lourd') }}">
                                        <span class="{{ 'poid-lourd' in url_page ? 'active' }}">Poids Lourd</span>
                                    </a>
                                    <a href="{{ path('formation_remorque') }}">
                                        <span class="{{ 'remorque' in url_page ? 'active' }}">Remorque</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li><a class="item_nav" href="{{ path('materiel') }}"><span class="{{ 'materiel' in url_page ? 'active' }}">MATERIEL</span></a></li>
                        <li><a class="item_nav" href="{{ path('label') }}"><span class="{{ 'label' in url_page ? 'active' }}">LABEL</span></a></li>
                        <li><a class="item_nav" href="{{ path('contact') }}"><span class="{{ 'contact' in url_page ? 'active' }}">CONTACT</span></a></li>
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a class="item_nav" href="{{ path('index') }}"><span class="{{ 'accueil' in url_page ? 'active' }} lato_bold">Accueil</span></a></li>
                <li><a class="lato_bold">Formations <span style="margin-left: 6px">&#8964;</span></a></li>
                <li>
                    <a class="sublink" href="{{ path('formation_voiture') }}">
                        <span class="{{ 'voiture' in url_page ? 'active' }}">Voiture</span>
                    </a>
                </li>
                <li>
                    <a class="sublink" href="{{ path('formation_deux_roues') }}">
                        <span class=" {{ 'deux-roues' in url_page ? 'active' }}">Deux roues</span>
                    </a>
                </li>
                <li>
                    <a class="sublink" href="{{ path('formation_poid_lourd') }}">
                        <span class="{{ 'poid-lourd' in url_page ? 'active' }}">Poids Lourd</span>
                    </a>
                </li>
                <li>
                    <a class="sublink" href="{{ path('formation_remorque') }}">
                        <span class="{{ 'remorque' in url_page ? 'active' }}">Remorque</span>
                    </a>
                </li>
                <li><a class="item_nav" href="{{ path('materiel') }}"><span class="{{ 'materiel' in url_page ? 'active' }} lato_bold">Materiel</span></a></li>
                <li><a class="item_nav" href="{{ path('label') }}"><span class="{{ 'label' in url_page ? 'active' }} lato_bold">Label</span></a></li>
                <li><a class="item_nav" href="{{ path('contact') }}"><span class="{{ 'contact' in url_page ? 'active' }} lato_bold">Contact</span></a></li>
            </ul>
        {% endblock %}
        {% block body %}{% endblock %}

        <footer>
            <div class="center">
                © Copyright École de conduite S. Fouchard - 1963 <br/> E0805005170 - Agrément <br /> Siret N°50097424100019 - N° TVA intracommunautaire FR7950097424100019
            </div>
        </footer>
        {#<link rel="stylesheet" href="{{ asset('js/jquery-3.3.1.min.js') }}">#}
        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/materialize-1.0.0.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/aos.js') }}" ></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
                AOS.init({
                    once: true,
                });
            });
        </script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
