{% extends 'base.html.twig' %}

{% block title %}S.Fouchard{% endblock %}

{% block body %}
        <div class="background-image background_materiel">
            <div class="container">
                <div class="presentation_title">
                    Matériel
                </div>
                <div class="presentation_description">
                    Vous trouverez dans cette section toutes les informations concernant<br />
                    Nos véhicules ainsi que nos installations pour les formations.
                </div>
                <div class="row">
                    <a href="{{ path('contact') }}" style="padding-top: 12px" class="col s7 m3 offset-m8 hoverable button_white">
                        Nous contacter
                    </a>
                </div>
            </div>
        </div>


        <div class="container">

            {% for category, photos in categories %}

                <div class="divider"></div>

                {% with {'title': category} %}
                    {{ block('section_title', 'util.html.twig') }}
                {% endwith %}

                {% if photos | length == 0 %}
                    <div class="center">Aucune photo pour le moment.</div>
                {% else %}

                    <div class="row">
                        {% for photo in photos %}
                            <div class="col s12 xl4">
                                <a class="container_photo image_container_materiel" target="_blank" href="{{ asset(photo) }}" style="background-image: url({{ asset(photo) }})">

                                </a>
                                <div class="space-10"></div>
                                <div class="lato_bold center title_photo_materiel">{{ photo | give_photo_name }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="space-50"></div>
                {% endif %}


            {% endfor %}

        </div>

{% endblock %}
