{% extends 'base.html.twig' %}

{% block title %}S.Fouchard{% endblock %}

{% block body %}

    {% with {
        'background_image_css': 'background_formation',
        'title': 'Formation remorque',
        'description': 'Vous retrouverez dans cette section toutes les informations utiles pour nos formations remorque.',
        'button_title': 'Explorer nos formations',
        'href': '#',
        }
    %}
        {{ block('header', 'formation/header.html.twig') }}
    {% endwith %}

    <div class="container">

        {% with {'title': 'INFORMATIONS' } %}
            {{ block('section_title', 'util.html.twig') }}
        {% endwith %}

        <div class="container_view">
            <div class="row valign-wrapper">
                <div class="col s12 m10 offset-m1 info_formation">
                    <div class="space-10"></div>
                    <div class="lato_bold">Deux types de formations sont disponibles pour les remorques : <br /></div>
                    - Formation « B96 ».<br />
                    - Formation « BE ».
                    <div>La formation B96 est pour les ensembles des véhicules dont la somme des PTAC (véhicules tracteur et tracté) ne dépassent pas les 4250kgs<br /></div>
                    <div>Groupe de 3 personnes</div>
                    <div class="space-10"></div>
                </div>
            </div>
        </div>

        <div class="space-30"></div>
        <div class="divider"></div>


        {% with {'title': 'PIÈCES À FOURNIR' } %}
            {{ block('section_title', 'util.html.twig') }}
        {% endwith %}

        <div class="container_view">
            <div class="row valign-wrapper">
                <div class="col hide-on-small-only m4 center">
                    <img class="img_center" src="{{ asset('img/paper.png') }}" width="90" alt="Papier">
                </div>
                <div class="col s12 m8 info_formation">
                    <div class="lato_bold space-20">Formation permis remorque (B96, BE)</div>
                    <ul>
                        <li><span class="circle_li">&#9679</span> 2 e-photo (photo numérisée avec code barre).</li>
                        <li><span class="circle_li">&#9679</span> Photocopie du permis recto verso + carte d'identite.</li>
                        <li><span class="circle_li">&#9679</span> Justificatif de domicile de moins de 3 mois.</li>
                        <li><span class="circle_li">&#9679</span> Photocopie de la JDC si - de 25 ans.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="space-30"></div>
        <div class="divider"></div>


        {% with {'title': 'TARIFS DES FORMATIONS' } %}
            {{ block('section_title', 'util.html.twig') }}
        {% endwith %}

        <div class="space-30"></div>

        <div class="warning center">Les tarifs sont valables jusqu’au 30/12/2019.</div>

        <div class="space-30"></div>

        <div class="container_view prix_container">

            <div class="lato_bold space-20">Formation permis B96</div>
            <div class="space-10"></div>
            <div>Par groupe de 3 personnes</div>
            <div class="space-10"></div>
            <table>
                <tbody>
                    <tr>
                        <td class="lato_bold">7 heures de formation (plateau + route)</td>
                    </tr>
                    <tr class="no_underline">
                        <td class="lato_bold">Forfait</td>
                        <td class="right-align">380,00 €</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="space-30"></div>

        <div class="warning center">Les tarifs sont valables jusqu’au 30/06/2019.</div>
        <div class="space-30"></div>

        <div class="container_view prix_container">

            <div class="lato_bold space-20">Formation permis BE</div>

            <div class="space-10"></div>
            <table>
                <tbody>
                <tr>
                    <td>Frais de dossier</td>
                    <td class="right-align">50,00 €</td>
                </tr>
                <tr>
                    <td>Frais d'accompagnement plateau-conduite</td>
                    <td class="right-align">50,00 €</td>
                </tr>
                <tr>
                    <td>14 heures formation plateau-route</td>
                    <td class="right-align">660,00 €</td>
                </tr>
                <tr>
                    <td>Frais administratif</td>
                    <td class="right-align">30,00 €</td>
                </tr>
                <tr>
                    <td>Un forfait code illimité (1 an)</td>
                    <td class="right-align">60.00 €</td>
                </tr>
                <tr>
                    <td>Redevance de l'ETG (Poste)</td>
                    <td class="right-align">30.00 €</td>
                </tr>
                <tr class="no_underline">
                    <td>Code sur internet pack web (optionnel)</td>
                    <td class="right-align">30,00 €</td>
                </tr>
                </tbody>
            </table>


            <div class="space-10"></div>
            <div class="lato_bold space-20">A savoir </div>

            <div class="space-10"></div>
            <table>
                <tbody>
                <tr>
                    <td>125 cm<sup>3</sup> : 7h de formation</td>
                    <td class="right-align">294,00 €</td>
                </tr>
                <tr class="no_underline">
                    <td>Passerelle A2 - A</td>
                    <td class="right-align">294,00 €</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="space-30"></div>

    </div>

{% endblock %}
